.categories{
    padding: 30px;
}
.category-book-wrapper{
    margin-bottom: 30px;
}
.category-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
/* .book-in-category{
    width: 400px;
    height: 365px;
    border: 1px solid gray;
    padding: 15px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 7px;
    background-color: white;
    text-align: center;
} */
.book-in-category{
    border: 1px solid rgba(0, 0, 0, 0.5);
    max-width: 350px;
    height: 650px;
    background-color: snow; 
    margin: 0 7px;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
}
.book-img-category{
    width: 100%;
    height: 300px;
    object-fit: cover;
    /* border-radius: 7px; */
}